@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&family=Roboto+Slab&display=swap');

body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
}

.nav {
  background-color: rgb(70, 15, 15);
  display: flex;
  justify-content: space-around;
  height: 5rem;
  opacity: 0.9;
  margin: auto;
  z-index: 1;
  position: sticky;
  top: 0;
  box-shadow:
    12px 0 15px -4px rgba(31, 73, 125, 0.8),
    -12px 0 8px -4px rgba(31, 73, 125, 0.8);
  box-shadow:
    0 9px 0 0 white,
    0 -9px 0 0 white,
    12px 0 15px -4px rgba(31, 73, 125, 0.8),
    -12px 0 15px -4px rgba(31, 73, 125, 0.8);
}

.navLinks {
  display: flex;
  list-style: none;
  text-decoration: none;
}

.navLinks li {
  list-style: none;
  margin-top: 1.5rem;
  text-decoration: none;
}

.navLists {
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin: 0 10px 0 0;
  list-style: none;
  text-decoration: none;
}

.logo {
  list-style: none;
  text-decoration: none;
  pointer-events: none;
}

.category {
  width: 250px;
  height: 35px;
  border-radius: 15px;
}

.TableCell {
  color: orchid;
  text-align: justify;
  padding-left: 5rem;
}

.TableHead {
  color: rgb(9, 147, 240);
  text-align: justify;
  padding-left: 5rem;
}

.Table {
  width: 50%;
  border-top: palegreen;
}

.About {
  font-family: 'Dancing Script', cursive;
  font-size: 45px;
  color: brown;
  font-weight: bolder;
}

.AboutPara {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  line-height: 1.5;
  width: 85%;
  justify-content: center;
  align-items: center;
  margin-left: 7%;
}
