body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
}

.nav {
  background-color: rgb(70, 15, 15);
  display: flex;
  justify-content: space-around;
  position: sticky;
  height: 5rem;
}

.navLinks {
  display: flex;
  list-style: none;
}

.navLinks li {
  list-style: none;
  margin-top: 1.5rem;
}

.navLists {
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin: 0 10px 0 0;
  list-style: none;
}

h1 {
  list-style: none;
}

.category {
  width: 250px;
  height: 35px;
  border-radius: 15px;
}

/* .grid-columns {
  float: left;
  width: 33.3%;
} */

.TableCell {
  color:orchid;
  /* text-align: left; */
  /* text-align: start; */
  text-align: justify;
  padding-left: 5rem;
  padding: 5px !important;
  background: blue;
}

.TableHead {
  color:rgb(9, 147, 240);
  /* text-align: left; */
  /* text-align: start; */
  text-align: justify;
  padding-left: 5rem;
}

.Table {
  width: 50%;
  border-top: palegreen;
}
